*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
h1{
   background-color: grey;
   border-radius: 10px;
}