*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}
body{
   
    color: white;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(26,26,26),rgb(30,30,30),black);
    padding: 15px;
    
}

section{
    height: 100%;
    width: 330px;
    background-color: transparent;
    border-radius: 5px;
    margin: auto;
 
}

.all-reels{
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow: auto;
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: lightseagreen;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;

   
}

.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.reel .bottom{
    padding: 30px 20px;
    width: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.103),rgba(0, 0, 0, 0.313)); */
    background-color: transparent;
    position:absolute;
    bottom: 0;
}

.bottom .user{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.bottom .user h4{
    font-size: 17px;
}

.bottom .user button{
    padding: 4px 8px;
    background-color: transparent;
    color: white;
    font-weight: 550;
    border: 1.5px solid white;
    border-radius: 5px;
}

.bottom .user img{
 height: 38px;
 width: 38px;
 object-fit: cover;
 object-position: center;
 border-radius: 50%;

}

.bottom>h3{
    font-weight: 400;
    font-size: 20px;
}

.right{
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    width: 40px;
    bottom: 13%;
    right: 0;
    text-align: center;
}


.right h4{
    cursor: pointer;
}

.right i{
    font-size: 28px;
    font-weight: 500;
}

.right h6{
    font-size: 15px;
     font-weight: 500;
}

.right>div{
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right .liked{
color: red;
}

.right>div h4{
    pointer-events: none;
}

.right > div h6{
    pointer-events: none;
}

