*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
   
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 50px 30px;
}

.outer{
    height: 20px;
    width: 100%;
    background-color:rgb(184,184,184);
    border-radius: 50px;
}

.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px;
    font-family: monospace;
}

button{
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: all ease 0.2s;
}

.bottom h2{
    font-size: 60px;
    font-weight: 200;

}

.card > p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.card >p >span{
    font-weight: 900;
    color: royalblue;
}


.bottom button:active{
    scale: 0.90;
}