*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
    background-color:black;
   
}

main{
    height: 100%;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 7px;
}

.card{
    width: 250px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    
} 

.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.card h1{
   margin-bottom: 10px;
}

.card h3{
    margin-bottom: 10px;
}

