*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    display: flex;
     
}

.card{
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 7px 10px 20px rgba(0, 0, 0, 0.473);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 50px;
}

.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.card h2{
  font-weight: 600;
  font-size: 26px;
}

.card button{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgb(99, 189, 219);
    border: none;
    color: white;
    font-weight: 600;
    border: 2px solid rgb(99, 189, 219);
}

.card p{
    font-weight: 500;
    font-size: 14px;
    color: #898282;
    text-align: center;
}

.card button:hover{
    background-color:transparent;
    color: rgb(99, 189, 219);
    border-radius: 2px solid rgb(6, 9, 10);
    cursor: pointer;
}