*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}
body{
    color: #fff;
}

#main{
    height: 85%;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 40px;
}

#left{
    height: 100%;
    width: 45%;
    background-color:#2f2f2f;
    /* background-image: url(https://c.saavncdn.com/092/ANIMAL-Hindi-2023-20231124191036-500x500.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#right{
    height: 100%;
    width: 55%;
    padding: 0 3vw;
}
#right h3{
    font-size: 30px;
    font-weight: 700;
}

#all-songs{
    height: 85%;
    margin-top: 30px;
    overflow: auto;
}
::-webkit-scrollbar{
    display: none;
}

.song-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-top: 1px solid #fff;
}

.song-card:hover{
    background-color: #2f2f2f;
}

.song-card:nth-last-child(1){
    border-bottom: 1px solid #fff;
}

.song-card .part1{
    display: flex;
   align-items: center;
}

.song-card img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.song-card h2{
font-size: 24px;
}

.song-card h6{
    font-size: 20px;
}

#player{
    height: 15%;
    width: 100%;
    background-color: #000 ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#player h3{
    background-color: rgb(52, 50, 50);
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#player h3 i{
    font-size: 24px;
}

#player h3:active{
scale: 0.93;
}
