*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 350px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}

.card img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    object-position: center;
    object-fit: cover;
}


.card h1{
    font-size: 25px;
    margin: 10px;
}

.card h2{
    color: red;
}

.card button{
    font-size: 15px;
    font-weight: 500 ;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: royalblue;
    margin-top: 15px;
}
