*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
     display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightseagreen;
}

#main{
    height: 80vh;
    width: 28vw;
    background-color:white;
    border-radius: 10px;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
}


.storyian{
    height: 23%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
   
}

.storyian::-webkit-scrollbar{
   display: none;
}

.story{
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border: 2px solid red;
    flex-shrink: 0;
    overflow: hidden;
    margin: 0.25rem;

}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}