*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

/*  RANDOM COLOR GENERATOR
#box{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    border: 2px solid white ;
}

button{
    padding: 13px 23px ;
    border: none;
    background-color: red;
    border-radius: 5px;
    font-size: 23px;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}

button:active{
    scale: 0.90;
    transition: all ease 0.1s;
} */

#box{
    height: 300px;
    width: 300px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white ;
}

button{
    padding: 13px 23px ;
    border: none;
    background-color: red;
    border-radius: 5px;
    font-size: 23px;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}

button:active{
    scale: 0.90;
    transition: all ease 0.1s;
}