*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

/* #main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.elem{
    height: 110px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    
}
.elem h1{
    font-size: 6.7vw;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}

.elem img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0;
   
}  */


#main{
    height:100%;
    width: 100%;
    background-color: black;
    color: white;
    
}

.elem{
  height: 120px;
  width: 100%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  position: relative;
}

.elem h1{
    font-size: 6.8vw;
    position:absolute;
    z-index: 1;
    mix-blend-mode: difference;
}

.elem img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0;
    transition: all linear 0.3s;
}