*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 60px;
}

.card{
    height: 250px;
    width: 250px;
    background-color: red;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(transparent,black);
    position: absolute;
    bottom: -40%;
    transition: all ease 1s;
}

.card:hover .box{
    bottom: 0;
}
h3{
    color: aliceblue;
}