*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}

 i{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 80px;
}

.products{
  height: 70%;
  width: 100%;
  display: flex;
  padding: 15px;
  gap: 10px;
  overflow-x: auto;
  background-color: rgb(169, 116, 116);
}
::-webkit-scrollbar{
  display: none;
}
.product{
  height: 80%;
  width: 25%;
  flex-shrink: 0;
    position: relative;
  background-color:white ;
  text-align: center;
  overflow:hidden ;
  border-radius: 10px;
}

.product >i{
  color: black;
  font-size: 30px;
  position: absolute;
  bottom: 17px;
  right: 10px;
}

.product img{
  object-fit: cover;
  width: 100%;
  height: 80%;
}

.cart{
  height: 85%;
  width: 100%;
  background-color: grey;
  position:absolute;
  top: 15%;
  display: none;
  gap: 10px;
}

.cart .item{
height: 100px;
width: 100px;

}

.item img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.item h2{
  font-size: 20px;
}


