*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#main{
    height: 250px;
    width: 100%;
    background-color: darkgray;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow: auto;
}

.box{
    height: 100%;
    width: 300px;
    background-color: brown;
    flex-shrink: 0;
}

#main::-webkit-scrollbar{
   background-color: burlywood;
}
#main::-webkit-scrollbar-thumb{
    background-color: rgb(25, 3, 228);
}


